 h1 {
 	color:#660055; font-weight:800; 
 	font-family:Helvetica; 
 	font-size:40px;
 	text-align: center;
    }

 h2 {
 	color:#661155; 
 	font-size: 30px;
 	font-family: Helvetica;
 	text-align: center;
    }
  p {
  	font-family: Helvetica;
  	color:#662255; 
  	font-size:16px
    }
 img {
 
    }
body { background-image: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/swirl_pattern.png);} 
li {
	color:#663355;
	font-size:20px }   